<% if(!userData){ %>
    <script>
        alert("비회원은 접근할 수 없는 페이지입니다.")
        location.href = "/login";
    </script>
<% } %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <%- include("common/link.ejs") %>
</head>
<body>
<%- include("common/header") %>
<%- include("common/hbgmenu.ejs") %>
<div id="container">
    <div class="loginWrap">
        <div class="center">
            <div class="formWrap"> 
                <h2>회원정보 수정</h2>
                <form id="myupt" action="/myupdate" method="post">
                    <!-- 아이디 표시 -->
                    <% if(userData){%>
                    <div class="userid"><%- userData.joinid %></div>
                    <% } %>
                    <% if(userData){%>
                        <input id="username" type="text" name="usernick" placeholder="변경할 닉네임 입력" value="<%- userData.joinnick %>">
                    <% } %>
                    <p class="message"></p>
                    <!-- 원래 있는 비밀번호 입력한 input -->
                    <input id="originpass" type="password" name="originpass" placeholder="원래 비밀번호 입력">
                    <input id="userpass" type="password" name="userpass" placeholder="변경할 비밀번호 입력">
                    <p class="message"></p>
                    <p>변경하실 지역을 선택 해주세요~</p>
                    <!-- 시/도 선택 -->
                    <select class="city1" name="city1" required>
                        <option value>시/도 선택</option>
                    </select>
                    <!-- 구/군 선택 -->
                    <select class="city2" name="city2" required>
                        <option value>구/군 선택</option>
                    </select>
                    <button id="submitBtn" type="submit">회원정보 수정</button>
                    <!-- 취소 버튼 누르면 메인 페이지로 이동 -->
                </form>
            </div>
        </div>
    </div>
</div>
<%- include("common/footer") %>
<!--  햄버거 메뉴 -->
<script src="/js/lefttap.js"></script>
<script src="/js/validationupt.js"></script>
<script src="/js/hangjungdong.js"></script>
<script src="/js/storeselect.js"></script>
</body>
</html>