<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 페이지</title>
    <%- include("common/link.ejs") %>
</head>
<body>
    <%- include("common/header.ejs") %>
    <%- include("common/hbgmenu.ejs") %>
    <div id="container">
        <div class="boxhd">
            <h2>공지사항</h2>
            <p class="path">path</p>
        </div>
        <div class="newsWrap">
            <div class="center">
                <ul class="gal_tapmenu">
                    <li><a href="/news">공지사항</a></li>
                    <li><a href="/event">이벤트</a></li>
                </ul>
                <ul class="gal_tapmenu tap2">
                    <li><a href="/news/all">전체</a></li>
                    <li><a href="/news/service">서비스</a></li>
                    <li><a href="/news/work">작업</a></li>
                    <li><a href="/news/upt">업데이트</a></li>
                </ul>
                <div class="linehd">
                    <p>작성일</p>
                    <p>카테고리</p>
                    <p>제목</p>
                </div>
                <div class="newsBox">
                    <% for(let i =0; i <brdData.length; i++){ %>
                            <div class="newslist line">
                                <p><%-brdData[i].time%></p>
                                <p><%-brdData[i].newsoption%></p>
                                <a class="adlist" href="/brddetail/<%-brdData[i].num%>">
                                    <p><%-brdData[i].name%></p>
                                </a>
                            </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script src="/js/lefttap.js"></script>
    <script src="/js/tapmenu.js"></script>
</body>
</html>