<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품리스트</title>
    <%- include("common/link.ejs") %>
</head>
<body>
<%- include("common/header") %>
<%- include("common/hbgmenu.ejs") %>
<div id="container">
    <div class="boxhd">
        <h2>상품 목록</h2>
        <p class="path">path</p>
    </div>
    <div class="prdhd">
        <ul class="gal_tapmenu">
            <li><a href="/prdlist/all">모든상품</a></li>
            <li><a href="/prdlist/1">생활가전</a></li>
            <li><a href="/prdlist/2">의류/잡화</a></li>
            <li><a href="/prdlist/3">스포츠/레저</a></li>
            <li><a href="/prdlist/4">취미/게임</a></li>
            <li><a href="/prdlist/5">도서/티켓</a></li>
            <li><a href="/prdlist/6">식품</a></li>
            <li><a href="/prdlist/7">기타중고</a></li>
        </ul>
    </div>
    <div class="gridWrap">
        <% for(let i=0; i < prdData.length; i++){ %>
            <div class="grid_list">
                <div class="list_img">
                    <% if(prdData[i].prdfile) { %>
                    <img src="/upload/<%- prdData[i].prdfile %>">
                    <ul class="img_bot">
                        <li class="featured"><i class="fa-solid fa-cart-shopping"></i></li>
                        <li class="for-sale"><i class="fa-regular fa-eye"></i></li>
                    </ul>
                    <% } else {%>
                        <div class="noimg">썸네일 없음</div>
                    <% } %>
                </div>
                <div class="list_info">
                    <h3><a href="/prddetail/<%- prdData[i].prdid %>"><%- prdData[i].prdsubject %></a></h3>
                    <div class="list_bot">
                        <p><%- prdData[i].prdlocal2 %></p>
                        <p><%- prdData[i].prdtime %></p>
                        <p class="price"><%- prdData[i].prdprice %>원</p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
<%- include("common/footer") %>
<!-- 햄버거 메뉴 -->
<script src="/js/lefttap.js"></script>
<script src="/js/tapmenu.js"></script>
</body>
</html>