<% if(!userData){ %>
    <script>
        alert("비회원은 접근할 수 없는 페이지입니다.")
        location.href = "/login";
    </script>
<% } %>
<%- include("common/header") %>
<div class="title_img">
    <div class="center_title">
        <h2>CONTACT US</h2>
        <p>Index / Contact Us</p>
    </div>
</div>
<div class="contact_us">
    <div class="center">
        <h2>갤러리 수정</h2>
        <p>어메스커피에 대한 다양한 의견을 작성해주세요.</p>
        <div class="admininfo">
            <div class="info_list">
                <div><i class="fa-solid fa-location-dot"></i></div>
                <h5>매장 주소</h5>
                <p>일산서구 덕이동</p>
            </div>
            <div class="info_list">
                <div><i class="fa-solid fa-phone"></i></div>
                <h5>전화번호</h5>
                <p>+55 418 652 8973</p>
            </div>
            <div class="info_list">
                <div><i class="fa-solid fa-envelope-open-text"></i></div>
                <h5>이메일 주소</h5>
                <p>rhgustmfrh@naver.com</p>
            </div>
            <div class="info_list">
                <div><i class="fa-solid fa-globe"></i></div>
                <h5>웹 주소</h5>
                <p>rhgustmfrh@naver.com</p>
            </div>
        </div>
        <form class="prdInsert" enctype="multipart/form-data" action="/update" method="post">
            <input type="hidden" name="id" value="<%- prdData.prdid %>">
            <div class="line">
                <% if(userData){ %>
                <p><%- userData.joinnick %></p>
                <% } %>
            </div>
            <div class="line">
                <input class="subject" type="text" name="subject" placeholder="Subject" value="<%- prdData.prdsubject %>">
            </div>
            <textarea id="context" name="context" placeholder="Write message"><%- prdData.prdcontext %></textarea>
            <div class="addfileWrap">
                <label for="addfile">파일첨부</label>
                <input id="addfile" type="file" name="uptfile">
                <input type="hidden" name="originfile" value="<%- prdData.prdfile %>">
                <span>변경할 이미지를 첨부해 주세요.</span>
            </div>
            <button id="submitBtn" type="submit">게시글 수정</button>
        </form>
    </div>
</div>
<%- include("common/footer") %>
<!-- 구역이동 및 햄버거 메뉴 -->
<script src="/js/section.js"></script>
<script>
    const submitBtn = document.querySelector("#submitBtn");
    const titleResult = document.querySelector(".subject");
    const contextResult = document.querySelector("#context");
    const submitForm = document.querySelector(".brdInsert");

    submitBtn.addEventListener("click",function(e){
        
        //문자열의 띄어쓰기 공백들을 제거해주는 문자열처리 함수 trim()

        let submitValue = titleResult.value;
        let submitValue2 = contextResult.value;
        submitValue = submitValue.trim();
        submitValue2 = submitValue2.trim();

        if(submitValue === "" || submitValue2 === ""){
            e.preventDefault();
            alert("제목과 내용을 입력해주세요");
        } 
        else{
            submitForm.submit();
        }
    });
</script>
</body>
</html>