<% if(!userData){ %>
    <script>
        alert("비회원은 접근할 수 없는 페이지입니다.")
        location.href = "/login";
    </script>
<% } %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품수정 페이지</title>
    <%- include("common/link.ejs") %>
</head>
<body>
<%- include("common/header") %>
<%- include("common/hbgmenu.ejs") %>
<div id="container">
    <div class="prdaddWrap">
        <div class="center"> 
            <form class="prdInsert" enctype="multipart/form-data" action="/update" method="post">
                <input type="hidden" name="id" value="<%- prdData.prdid %>">
                <h2>상품수정</h2>
                <p>상품내용을 수정해주세요~</p>
                <div class="line auther">
                    <% if(userData){ %>
                    <p>작성자 : <%- userData.joinnick %></p>
                    <% } %>
                </div>
                <div class="line">
                    <input class="subject" type="text" name="subject" placeholder="제목" value="<%- prdData.prdsubject %>">
                </div>
                <textarea id="context" name="context" placeholder="내용 작성"><%- prdData.prdcontext %></textarea>
                
                <div class="line line2">
                    <select class="category" name="prdoption">
                        <option value="생활가전">생활가전</option>
                        <option value="의류">의류/잡화</option>
                        <option value="스포츠">스포츠/레저</option>
                        <option value="취미">취미/게임</option>
                        <option value="도서">도서/티켓</option>
                        <option value="식품">식품</option>
                        <option value="기타중고">기타중고</option>
                    </select>
                    <input class="price" type="text" name="price" placeholder="가격" value="<%- prdData.prdprice %>">
                </div>
                <div class="addfileWrap">
                    <span>제품 이미지를 첨부해 주세요.</span>
                    <label for="addfile">파일첨부</label>
                    <input id="addfile" type="file" name="uptfile">
                    <input type="hidden" name="originfile" value="<%- prdData.prdfile %>">
                </div>
                <button id="submitBtn" type="submit">수정하기</button>
            </form>
        </div>
    </div>
</div>
<script>
    const submitBtn = document.querySelector("#submitBtn");
    const titleResult = document.querySelector(".subject");
    const contextResult = document.querySelector("#context");
    const submitForm = document.querySelector(".prdInsert");

    submitBtn.addEventListener("click",function(e){
        
        //문자열의 띄어쓰기 공백들을 제거해주는 문자열처리 함수 trim()

        let submitValue = titleResult.value;
        let submitValue2 = contextResult.value;
        submitValue = submitValue.trim();
        submitValue2 = submitValue2.trim();

        if(submitValue === "" || submitValue2 === ""){
            e.preventDefault();
            alert("제목과 내용을 입력해주세요");
        } 
        else{
            submitForm.submit();
        }
    });
</script>
<script src="/js/lefttap.js"></script>
</body>
</html>